<html>

<head>
    <title>Webmention Test-Endpoint</title>
    <link rel="stylesheet" href="github-markdown.css">
    <style>
      {{ css }}

      .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
      }
    </style>
</head>
<body>
    <div class="markdown-body">

        <h1 id="change-log">Change Log</h1>
<p>All notable changes to this project will be documented in this file.
This project adheres to <a href="http://semver.org/">Semantic Versioning</a>.</p>
<h2 id="-1-0-0-2016-07-07"><a href="https://github.com/pfefferle/node-webmention-testendpoint/compare/...1.0.0">1.0.0</a> - 2016-07-07</h2>
<ul>
<li>updated npm dependencies</li>
<li>updated code to work with newest libraries</li>
</ul>
<h2 id="0-1-1">0.1.1</h2>
<ul>
<li>added HTTP status code support to simulate errors</li>
</ul>
<h2 id="0-1-0">0.1.0</h2>
<ul>
<li>initial</li>
</ul>


    </div>
</body>

</html>
