<html>
  <head>
    <title>Webmention Test-Endpoint</title>

    <style>
      {{ css }}

      .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
      }
    </style>

    {{#if link}}
      <link rel="{{ rel }}" href="{{ endpoint }}?type=link" />
    {{/if}}
  </head>
  <body>
    <article class="markdown-body h-entry">
      <h1 class="p-name">Unicorns</h1>
      <div class="e-content p-summary">
        <p>The unicorn is a legendary animal that has been described since
          antiquity as a beast with a large, pointed, spiraling horn projecting
          from its forehead. The unicorn was depicted in ancient seals of the
          Indus Valley Civilization and was mentioned by the ancient Greeks in
          accounts of natural history by various writers, including Ctesias,
          Strabo, Pliny the Younger, and Aelian. The Bible also describes an
          animal, the re'em, which some translations have rendered with the
          word unicorn.</p>

        {{#if a}}
        <a rel="{{ rel }}" href="{{ endpoint }}?type=a">WebMention Endpoint</a>
        {{/if}}

        <p>In European folklore, the unicorn is often depicted as a white
          horselike or goatlike animal with a long horn and cloven hooves
          (sometimes a goat's beard). In the Middle Ages and Renaissance,
          it was commonly described as an extremely wild woodland creature,
          a symbol of purity and grace, which could only be captured by a
          virgin. In the encyclopedias its horn was said to have the power to
          render poisoned water potable and to heal sickness. In medieval and
          Renaissance times, the horn of the narwhal was sometimes sold as
          unicorn horn.</p>

        <p><small>Source: <a href="http://en.wikipedia.org/wiki/Unicorn">Wikipedia</a></small></p>
      </div>
    </article>
  </body>
</html>
