<html>

<head>
    <title>Webmention Test-Endpoint</title>
    <link rel="stylesheet" href="github-markdown.css">
    <style>
      {{ css }}

      .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
      }
    </style>
</head>
<body>
    <div class="markdown-body">

        <%=content%>

    </div>
</body>

</html>
